<!DOCTYPE html>
<html lang="en">
  ​​  <!-- replace in part 4 -->
  {{ partial "head" . }}
  <body>
    <div class="content">
        <!-- replace in part 7 -->
      {{ partial "navigation/header" . }}
      <section class="page">
        <!-- replace in part 6 -->
        {{ block "main" . }} {{ end }}
      </section>
    </div>

    <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="MzZmMWYwMjctNjMzYS00ODA3LThhZDQtOGM1N2EyMjc0MzllNjM4Mzg0NDQyOTc5NjMwMDMz"></div>
  </body>
</html>